html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  #background-image: url(http://uploads.striking.ly/page/images/backgrounds/bg5.jpg);
  background-image: url(http://uploads.strikinglycdn.com/static/backgrounds/abstract/69.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  font-weight: 300;
  #color: #F8F8FF;
}

.main-header__avatar{
  display: block;
  width: 100px;
  
  margin: 0 auto;
  box-shadow: 0 0px 2px 2px rgba(0,0,0,0.2);
  border-radius: 999px;
  margin-top: -50px;
  margin-bottom: 10px
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}

h1{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-weight: 300;
  font-size: 50px;
  font-family: 'Open Sans','helvetica',arial,sans-serif;
  text-shadow: 0 2px rgba(0,0,0,0.3);
  margin-bottom: 20px;
  color: #FFF8DC;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.main-header{
  margin-top:100px;
  padding: 1px;
  background-image: url(../img/test.png);
}

.main-nav {
  background-color: #333;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.main-nav ul{
  margin: 0;
}
.main-nav ul li {
  margin: 10px 25px;
  display: inline-block;
}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

.info-section {
  background-color: #fff;
  padding: 30px 60px;
  text-align: center;
}

.whatido__skill-list{
  list-style: none;
}

.whatido__skill--code {
  background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
}

.whatido__skill{
  background-repeat: no-repeat;
  background-position: center top;
  margin-top: 60px;
  padding-top: 100;
  #padding: 100 1% 0 1%;
  width: 33.3%;
  float: left;
}

.whatido__skill h3{
  text-align: center;
}

.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2:after{
  border-bottom: 3px solid black;
  content:"";
  display: table;
  width: 10%;
  margin: 15px auto;
}

.info-section__description {
  font-style: italic;
}

.clearfix:after {
  content:"";
  display:block;
  clear:both;
  width:10%;
}

.education-experience li{
  overflow: hidden;
  margin: 30 5;
}

.education-experience__list{
  list-style: none;
  
}
.education-experience__list img{
  width: 180px;
  float: left;
}

.education-experience__list__description{
  overflow: hidden;
  padding-left: 40px;
}

.photos__list li{
  float: left;
  width: 25%;
  padding: 10px;
}

.photos__list li img{
  width: 100%;
}

